.font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #000000;
}
h1{
  color: white;
}
.description-color{
  color: #a2a2a2;
}
.primary-color{
  color: white;
}
.spacing{
  letter-spacing: 3px;
}